[MASTER]
disable=
    C0103,  # invalid name according to PEP
    C0114,  # missing module docstring
    C0116,  # missing function docstring
    W292,   # no new line at the end of file
    E305,   # expected two blank lines, found one
    E302,   # expected two blank lines, found zero
    W391,   # not one new line at end of file
    W1514,  # unspecified encoding for 'open'
    W0621,  # redefined outer name warning
    unknown-option-value,

[FORMAT]
max-line-length=79 # according to Black convention
