UXTerm*termName: xterm-256color
XTerm*termName: xterm-256color
xterm*saveLines: 100000
xterm*highlightSelection: true
xterm*trimSelection: true

xterm*metaSendsEscape: true
xterm*VT100.locale: false
xterm*VT100.utf8: true

xterm*faceName: Liberation Mono
xterm*faceSize: 9
xterm*renderFont: false
xterm*forceBoxChars: true

xterm*.Translations: #override \
    Ctrl Shift <Key>V:    insert-selection(CLIPBOARD) \n\
    Ctrl Shift <Key>C:    copy-selection(CLIPBOARD) \n\

*foreground: #000000
*background: #FFFFFF
